[docs/Interoperable-RA-TLS-cert-edvidence-formats.md] `hash-alg-id` must be CBOR uint

The proposal has this text: https://github.com/CCC-Attestation/interoperable-ra-tls/blob/main/docs/Interoperable-RA-TLS-cert-edvidence-formats.md?plain=1#L22

In particular, this phrase:
```
where `hash-alg-id` is an integer identifying the hash algorithm
```

CBOR data types do **not** have an "integer" type. There are two types for integers:
- Major type 0: An unsigned integer (`uint`)
- Major type 1: A negative integer (`negative int`)

In the text, we clearly assumes "a CBOR unsigned integer". So I suggest to change the phrasing to:
```
where `hash-alg-id` is a CBOR unsigned integer identifying the hash algorithm
```

I agree. And I suggest to limit it further to "a CBOR  8 bit width unsigned integer"

Agree that the field `hash-alg-id` should be an unsigned integer. But we don't have control of the range of future `hash-alg-id` values, and CBOR does not have an `8-bit unsigned integer` type. So let's change the text to:

`where hash-alg-id is a CBOR unsigned integer identifying the hash algorithm`

Please see commit [82f236c](https://github.com/CCC-Attestation/interoperable-ra-tls/commit/82f236c2375d0a02caf58239a6e6a2e1c36746d9) that resolves this issue.

The advantage to specify width of integer is that we can compare directly at the binary level without having to parse the cbor data.

Sorry I was misled by [libcbor's documentation](https://libcbor.readthedocs.io/en/latest/api/type_0_1.html#_CPPv4N14cbor_int_width10CBOR_INT_8E), and CBOR indeed doesn't have an 8-bit unsigned integer type.

---

More Info:

The following descriptions are from RFC8949 [Section 3](https://www.rfc-editor.org/rfc/rfc8949.html#encoding) and [Section 3.1](https://www.rfc-editor.org/rfc/rfc8949.html#majortypes).

> With a few exceptions, the additional information's value describes how to load an unsigned integer "argument":
> 
> Less than 24:
> The argument's value is the value of the additional information.
> 
> 24, 25, 26, or 27:
> The argument's value is held in the following 1, 2, 4, or 8 bytes, respectively, in network byte order. For major type 7 and additional information value 25, 26, 27, these bytes are not used as an integer argument, but as a floating-point value (see [Section 3.3](https://www.rfc-editor.org/rfc/rfc8949.html#fpnocont)).

For sha256 (ID 1), the hex of `hash-alg-id` could be: `01`, `18 01`, `19 0001`, `1A 00000001`, `1B 0000000000000001`. So a evidence verifier (or the cbor parsing library it uses) may need to handle all of these cases correctly.



@shnwc You are correct, there is no `uint8_t` data type in CBOR. Thanks for adding the `unsigned` word in the commit, looks good.

@KB5201314 Thanks for clarification, I had the same problem with my understanding (I also use `libcbor`). I modified Gramine's verifier to handle cases of all possible `unsigned integer` data types.